# PostgreSQL Neon — Connection Pooling (untuk app & Vercel)
DATABASE_URL="postgresql://neondb_owner:PASSWORD@ep-billowing-cherry-aodxhjkp-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require"

# PostgreSQL Neon — Direct Connection (untuk prisma migrate/push)
DIRECT_URL="postgresql://neondb_owner:PASSWORD@ep-billowing-cherry-aodxhjkp.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require"

JWT_SECRET="ika-pmii-kediri-secret-key-2024"
PORT=3000
